<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>INetSyphon_iOS_SDK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>SampleTCPClient.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>SampleTCPServer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D5A7DA7F1C1D7CFD00FD3EFC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D5A7DA901C1D7D6300FD3EFC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D5A7DAAF1C1D80C000FD3EFC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D5A7DACD1C1D845800FD3EFC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D5A7DAFE1C1DD5AB00FD3EFC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
